<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--
    # Citation for Bootstrap template:
    # Date: January, 2021
    # Based on: https://getbootstrap.com/docs/4.0/examples/cover/
     -->

    <title>Search and Modify Reviews</title>
  </head>
  <body class='text-center'>
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Restroom Finder</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/customer_index">View</a>
            <a class="nav-link" href="/customer_add">Add</a>
            <a class="nav-link" href="/index">Logout</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Restrooms Reviews</h1>
        <form action="/customer_index" method="POST">
        <div class="input-group" >
         <input id="table_filter" type="text" name='search'class="form-control" aria-label="Text input with segmented button dropdown" >
         <div class="input-group-btn" >
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Category</span> <span class="caret" >&nbsp;</span></button>
          <div class="dropdown-menu dropdown-menu-right" >
             <div class="form-check">
               <input class="form-check-input" type="radio" name="restroomSearch" id="reviewID" value="reviewID" checked>
               <label class="form-check-label" for="reviewID">Review ID</label>
             </div>

             <div class="form-check">
               <input class="form-check-input" type="radio" name="restroomSearch" id="restroomID" value="restroomID">
               <label class="form-check-label" for="restroomID">Restroom ID</label>
             </div>
             
             <div class="form-check">
               <input class="form-check-input" type="radio" name="restroomSearch" id="userID" value="userID">
               <label class="form-check-label" for="userID">User ID</label>
             </div>

             <div class="form-check">
               <input class="form-check-input" type="radio" name="restroomSearch" id="cleanliness" value="cleanliness">
               <label class="form-check-label" for="cleanliness">Cleanliness</label>
             </div>
          </div>
          <button id="searchBtn" type="submit" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
         </div>
        </div>
        </form>
        <p class="lead" style="overflow-x:auto; overflow-y:scroll;">
        <div style="height: 600px; overflow-y:scroll;">
          {% for reviews in results %}
          <form method="POST" id="form-{{loop.index}}" action="/customer_update"></form>
          {% endfor %}	
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Address</th>
                <th scope="col">Overall Rating</th>
                <th scope="col">Cleanliness</th>
                <th scope="col">Comment</th>
                <th scope="col">Date Created</th>
                <th scope="col">Restroom ID</th>
                <th scope="col">User ID</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for reviews in results %}
              <tr>
                <!-- <th name="reviewID" form="form-{{loop.index}}" value={{reviews[0]}}>{{reviews[0]}}</th> -->
                <th><input type="hidden" name="reviewID" form="form-{{loop.index}}" value={{reviews[0]}}>{{reviews[0]}}</th>
                <td><input align="center" type="text" name="address" form="form-{{loop.index}}" value="{{reviews[1]}}" disabled="disabled"></td>

                
                <td><input align="center" type="text" name="overallRating" form="form-{{loop.index}}" value={{reviews[2]}} disabled="disabled"></td>
                <td>
                  <select align="center" id="inputState" name="cleanliness" form="form-{{loop.index}}" class="form-control" disabled="disabled">
                    {% if reviews[3] == 'Pristine' %}
                    <option>Choose...</option>
                    <option>Dirty</option>
                    <option>Mediocre</option>
                    <option selected>Pristine</option>
                    {% elif reviews[3] == 'Dirty' %}
                    <option>Choose...</option>
                    <option selected>Dirty</option>
                    <option>Mediocre</option>
                    <option >Pristine</option>
                    {% else %}
                    <option>Choose...</option>
                    <option>Dirty</option>
                    <option selected>Mediocre</option>
                    <option>Pristine</option>
                    {% endif %}
                  </select>
                </td>
                <td><input align="center" type="text" name="comment" form="form-{{loop.index}}" value="{{reviews[4]}}" disabled="disabled"></td>
                <td>{{reviews[5]}}</td>
                <td>{{reviews[6]}}</td>
                <td>{{reviews[7]}}</td>
                <!-- <td><a class="btn btn-secondary delete" href="#" role="button">Delete</a></td> -->
                <!-- <td><a class="btn btn-secondary update" href="#" role="button">Update</a></td> -->
                <td><input type="submit" form="form-{{loop.index}}" formaction="/customer_delete" class="btn btn-secondary" value="Delete"></td>
                <td><input type="button" form="form-{{loop.index}}" formaction="/customer_update" class="btn btn-secondary update" value="Update"></td>

              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/table_edit.js"></script>
  </body>
</html>
