<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--
    # Citation for Bootstrap template:
    # Date: January, 2021
    # Based on: https://getbootstrap.com/docs/4.0/examples/cover/
     -->

    <title>Add New Review</title>
  </head>
  <body class='text-center'>
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Restroom Finder</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/customer_index">View</a>
            <a class="nav-link active" href="/customer_add">Add</a>
            <a class="nav-link" href="/index">Logout</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Add Restroom Reviews</h1>
        <form method="POST" action="/customer_add" role="form" name="customer_add_form">
          
          <div class="form-group">
            
            <label for="restroomID">Select Restroom Address</label>
            <select id="inputRestroomID" name="restroomID" class="form-control">
              <option selected>Choose...</option>
              {% for restrooms in results %}
              <option value={{restrooms[0]}}>{{restrooms[1]}}</option>
              {% endfor %}
            </select>
            
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="overallRating">Overall Rating</label>
              <select id="inputOverallRating" name="overallRating" class="form-control">
                <option selected>Choose 1-5</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="cleanliness">Cleanliness</label>
              <select id="inputCleanliness" name="cleanliness" class="form-control">
                <option selected>Choose...</option>
                <option>Dirty</option>
                <option>Mediocre</option>
                <option>Pristine</option>
              </select>
            </div>
          </div>

          
          <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" name="comments" id="comments" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary btn-lg">Submit Review</button>
          
        </form>

      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
