<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <!--
    # Citation for Bootstrap template:
    # Date: January, 2021
    # Based on: https://getbootstrap.com/docs/4.0/examples/cover/
    -->

    <title>Search and Modify Restrooms</title>
  </head>
  <body class='text-center'>
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Restroom Finder</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/employee_index">View</a>
            <a class="nav-link" href="/employee_add">Add</a>
            <a class="nav-link" href="/index">Logout</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Restrooms Data</h1>
        <form action="/employee_index" method="post">
        <div class="input-group" >
         <input id="table_filter" type="text" name="search" class="form-control" aria-label="Text input with segmented button dropdown" >
         <div class="input-group-btn" >
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="label-icon" >Category</span> <span class="caret" >&nbsp;</span></button>
            <div class="dropdown-menu dropdown-menu-right" >
            <div class="form-check">
              <input class="form-check-input" type="radio" name="restroomSearch" id="restroomID" value="restroomID" checked>
              <label class="form-check-label" for="restroomID">
                restroomID
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="restroomSearch" id="Street" value="street">
              <label class="form-check-label" for="restroomStreet">
                street
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="restroomSearch" id="City" value="city">
              <label class="form-check-label" for="restroomCity">
                city
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="restroomSearch" id="State" value="state">
              <label class="form-check-label" for="restroomState">
                state
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="restroomSearch" id="Country" value="country">
              <label class="form-check-label" for="restroomCountry">
                country
              </label>
            </div>
          </div>
          <button id="searchBtn" type="submit" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
         </div>
        </div>
        </form>
        <p class="lead" style="overflow-x:auto; overflow-y:scroll;">
        <div style="height: 600px; overflow-y:scroll;">
	{% for restroom in results %}
	 <form method="POST" id="form-{{loop.index}}" action="/employee_update"></form>
        {% endfor %}	
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Restroom ID</th>
                <th scope="col">Address</th>
                <th scope="col">Open Hour</th>
                <th scope="col">Close Hour</th>
                <th scope="col">Free</th>
                <th scope="col">Last Inspected</th>
                <th scope="col">Comments</th>
                <th scope="col">Employee ID</th>
              </tr>
            </thead>
            <tbody>
	    <!-- Iterate over results returned from query -->
	    {% for restroom in results %}
              <tr>
                <td>
		    <input type="hidden" name="restroomID" form="form-{{loop.index}}" value={{restroom[0]}}>{{restroom[0]}}</td>
                <td><input align="center" form="form-{{loop.index}}" type="text" value="{{restroom[1]}}" disabled="disabled"></td>
		<td><input align="center" form="form-{{loop.index}}" type="time" value={{restroom[2]}} disabled="disabled"></td>
                <td><input align="center" form="form-{{loop.index}}" type="time" value={{restroom[3]}} disabled="disabled"></td>
                <td>
                  <select align="center" form="form-{{loop.index}}" id="inputFree" class="form-control" disabled="disabled">
                    {% if restroom[4] == 1 %}
		    	<option selected>T</option>
			<option>F</option>
                    {% else %}
			<option>T</option>
			<option selected>F</option>
		    {% endif %}
                  </select>
                </td>
                <td><input align="center" form="form-{{loop.index}}" type="text" value={{restroom[5]}} disabled="disabled"></td>
                <td><input type="hidden" name="comments" form="form-{{loop.index}}" value={{restroom[6]}}>{{restroom[6]}}</td>
                <td><input type="hidden" name="employeeID" form="form-{{loop.index}}" value={{restroom[7]}}>{{restroom[7]}}</td>
                <td><a class="btn btn-secondary delete" href="#" role="button">Delete</a></td>
                <!--<td><a class="btn btn-secondary update" href="#" role="button">Update</a></td>-->
                <!--<td><button form="form-{{loop.index}}" id="searchBtn" class="btn btn-secondary btn-search update" type="button"><span class="glyphicon glyphicon-search" >&nbsp;</span><span class="label-icon" >Update</span></button></td>-->
		<td><input type="button" form="form-{{loop.index}}" class="btn btn-secondary update" value="Update"></td>
	    </tr>
	    {% endfor %}
            </tbody>
          </table>
        </div>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../static/js/table_edit.js"></script>
  </body>
</html>
