<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <!--
    # Citation for Bootstrap template:
    # Date: January, 2021
    # Based on: https://getbootstrap.com/docs/4.0/examples/cover/
    -->

    <title>Add New Restroom</title>
  </head>
  <body class='text-center'>
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Restroom Finder</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="/employee_index">View</a>
            <a class="nav-link active" href="/employee_add">Add</a>
            <a class="nav-link" href="/index">Logout</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Add a Restroom</h1>
        <form method="POST" action="/employee_add" role="form" name="employee_add_form">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="openTime">Open</label>
              <input type="time" class="form-control" name="openTime" id="inputOpen" placeholder="Open">
            </div>
            <div class="form-group col-md-3">
              <label for="closeTime">Close</label>
              <input type="time" class="form-control" name="closeTime" id="inputClose" placeholder="Close">
            </div>
            <div class="form-group col-md-3">
              <label for="free">Free</label>
              <select align="center" name="free" name="inputFree" class="form-control">
                <option>T</option>
                <option>F</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="comments">Comments</label>
              <input type="text" class="form-control" name="comments" id="inputComment">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" name="address" id="inputAddress" placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" name="address2" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" name="city" id="inputCity" placeholder="Corvallis">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <input type="text" class="form-control" name="state" id="inputState" placeholder="Oregon">
            </div>
            <div class="form-group col-md-2">
              <label for="inputState">Country</label>
              <input type="text" class="form-control" name="country" id="inputCountry" placeholder="US">
            </div> 
            <div class="form-group col-md-4">
              <label for="inputFirstName">Employee First Name</label>
              <input type="text" class="form-control" name="firstName" id="inputFname" placeholder="John">
            </div>
            <div class="form-group col-md-4">
              <label for="inputLastName">Employee Last Name</label>
              <input type="text" class="form-control" name="lastName" id="inputLname" placeholder="Doe">
            </div>
            <div class="form-group col-md-4">
              <label for="inputEmail">Employee Email</label>
              <input type="text" class="form-control" name="email" id="inputEmail" placeholder="john.doe@restroomfinder.com">
            </div>
           
          </div>
          <button type="submit" class="btn btn-lg btn-secondary">Submit</button>
        </form>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
      </footer>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
